{% set active_page = "schedule" %}
{% extends "default.html" %}
{% block main %}
    <section id="lecture-plan">
    <h1>Schedule</h1>

    <p>
    Below, you can find an overview of all lectures and tutorials with topics
    and required reading.
    An overview of the schedule with rooms can also be found on <a href="{{ course_info["timeedit"] }}">TimeEdit</a>.
    </p>

    <h2 id="lecture-schedule">Lecture & Tutorial Plan</h2>
    {% set schedule = data %}
    {% set schedule = schedule | sort(attribute='start_time') %}
    <table>
			<thead>
				<tr>
					<th>Session</th>
					<th>Time</th>
					<th>Topics</th>
					<th>Reading</th>
				</tr>
			</thead>
			<tbody>
        {% for session in schedule if (session['type'] != "lab") %}
          {% set start_time = session['start_time'] %}
          {% set end_time = session['end_time'] %}
          <tr tabindex="-1" class="session{% if now > end_time %} past-event{% endif %}">
            <td class="session-title">{{ session["title"] }}</td>
            <td class="session-time">{{ start_time.strftime("%B&nbsp;%d, %H") }}&ndash;{{ end_time.strftime("%H") }}</td>
            <td class="session-topics">
            <ul>
              {% for topic in session['topics'] %}
              <li>{{- topic -}}</li>
              {% endfor %}
            </ul>
            </td>
            <td class="session-reading">
            {% if session.get('reading') %}
            <ul>
              {% for read in session['reading'] %}
              <li>{{ read }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <h2 id="lab-schedule">Lab Schedule</h2>
    <table>
			<thead>
				<tr>
					<th>Group</th>
					<th>Time</th>
					<th>Lab</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
        {% for session in schedule if (session['type'] == "lab") %}
          {% set start_time = session['start_time'] %}
          {% set end_time = session['end_time'] %}
          <tr tabindex="-1" class="session{% if now > end_time %} past-event{% endif %}">
            <td class="session-groups">Group&nbsp;{{ session["groups"] | join(", ") }}</td>
            <td class="session-time">{{ start_time.strftime("%B&nbsp;%d, %H") }}&ndash;{{ end_time.strftime("%H") }}</td>
            <td class="session-lab">Lab&nbsp;{{ session["lab"] }}</td>
            <td class="session-comment">{{ session.get("comment", "") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
		</section>
{% endblock %}
